.item-count-cont {
  background-color: #5239fa;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 8px;
}

div.item-count-cont-inner {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  bottom: 0;

  border-bottom-left-radius: 8px;
  border-left: 8px solid #fcd980;
  border-bottom: 8px solid #fcd980;
  z-index: 10;
}

div.item-count-cont-inner1 {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 3;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 8px solid #2405f2;
  border-bottom: 8px solid #2405f2;
}

/* .item-count-cont-inner {
  
} */
